#nav{overflow: hidden; background: #fff;height: 80px; border-bottom:1px solid #ccc;}
#nav .big{ width: 1270px; margin: 0 auto; line-height: 80px;}
#nav .big h1{ margin-top: 15px;}
#nav .big span{font-size: 16px; margin-left: 10px;}


/*=================buy-box=================*/
#buy-box{
	overflow: hidden;
	background: #fff;
	display: none;
}
#buy-box .buy-box-content{
	margin:0 auto;
	width: 980px;
	min-height: 240px;
	padding:120px 0px 140px 0;

}
#buy-box .buy-box-content img{
	margin-left: 70px;
	min-width: 400px; 
	width: 45%;
}
#buy-box .buy-box-content div.l{
	margin-left: 100px;
	margin-top:113px;
}
#buy-box .buy-box-content div.l p{
	font-size: 18px;
	color: #666;
}
#buy-box .buy-box-content div.l a{
    border: 1px solid red;
    color: red;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-top: 16px;
    text-align: center;
    width: 150px;
}
#buy-box .buy-box-content div.l a:hover{background: #f00; color: #fff;}

/*=================buy-box-after================*/
#buy-box-after{overflow: hidden; }
#buy-box-after .head{
    height: 40px;
    line-height: 40px;
    padding: 30px 0;
    font-weight: bold;
    font-size: 14px;
}
#buy-box-after .head .checkAll{
	width: 130px;
}

#buy-box-after .head  .price,.goodsInfo,.num,.sub,.oper{
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 130px;
}
#buy-box-after .head .checkAll input{
	width: 20px;
    height: 20px;
    background-color: #FFF;
    border: 1px solid #999;
    cursor: pointer;
    position: relative;
    top:5px;
   
}
#buy-box-after .head .goodsInfo{width: 610px;}
#buy-box-after .head .price{width: 100px;}
#buy-box-after .head .num{width: 176px;}
#buy-box-after .head .sub{width: 140px;}
#buy-box-after .head .oper{width: 70px; }
#buy-box-after ._down{
	background: #fff;
	overflow: hidden; 
	min-height:620px ; 
	padding-bottom: 100px;
}
#buy-box-after ._down .shopContent .shopbox{
	padding: 46px 0;
    border-bottom: 1px solid #ccc;
    line-height: 120px;
    overflow: hidden;
    width:1226px; margin: 0 auto;
}
#buy-box-after ._down .shopbox .sel{
	width:130px; 
	height: 72px;
}
#buy-box-after ._down .shopbox .sel input{	
	width: 20px;
    height: 20px;
    background-color: #FFF;
    border: 1px solid #999;
    cursor: pointer;
}
#buy-box-after ._down .shopbox .info{
	font-size: 16px;
	color: #000;
	width:610px;
}
#buy-box-after ._down .shopbox .info span.left{
	width: 120px;
    height: 120px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    
}
#buy-box-after ._down .shopbox .info span.right{
	width: 420px;
    float: right;
    text-align: left;
    margin-right: 20px;
    height: 120px;
    display: table;
    line-height: 25px;
}
#buy-box-after ._down .shopbox .info span.right .right-content{
	display: table-cell;
    vertical-align: middle;
    width:610px;
}
#buy-box-after ._down .shopbox .info span.right .right-content p{
	line-height: 25px;
    height: 25px;
    overflow: hidden;
    color:#000;
    padding-left: 20px;
}
#buy-box-after ._down .shopbox .price_info{
	width: 100px;
	font-size: 16px;
    text-align: center;
    display: inline-block;
}
#buy-box-after ._down .shopbox .num_info{
	position: relative;
	width: 176px;
	/*padding-left: 55px;*/
	text-align: center;
}
#buy-box-after ._down .shopbox .num_info span.add,.reg,.val{
	width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #666;
    background-color: #e3e3e3;
    cursor: pointer;
    
}
#buy-box-after ._down .shopbox .num_info input.val{
 	border:0;
 	background: #fff;
 }      
#buy-box-after ._down .shopbox .sub-info{
	width: 140px;
	text-align: center;
	font-size: 16px;
	color:red
}   
#buy-box-after ._down .shopbox .sub-info span{
    line-height: 20px;
    margin-top: 50px;
    width: 100%;
}
#buy-box-after ._down .shopbox .sub-info span.throughLine{
	text-decoration: line-through;
	display: inline-block;
	margin-top: 0px;
	position: relative;
	top:-50px;
	left: 0;
}	
#buy-box-after ._down .shopbox .oper-info{
	width: 70px;
	font-size: 16px;
    text-align: center;
    height: 100%;
    margin-top: 38px;
    
}
#buy-box-after ._down .shopbox .oper-info span{
	width: 20px;
    height: 30px;
    cursor: pointer;
    color:#666;
    display: block;
    margin-left: 12px;
    
    background: url(../img/iconimg.png) no-repeat center;
}
#buy-box-after ._down .shopbox .oper-info span.shouC{
    background-position: -112px -25px;
}
#buy-box-after ._down .shopbox .oper-info span.delete{
	cursor: pointer;
    width: 15px;
    background-position: -154px -35px;
    height: 20px;
    margin-top:10px;
}
#buy-box-after ._down .shopbox .oper-info span.shouC:hover{
	background-position: -112px -25px;
} 
/*======================结算=====================*/
#buy-box-after ._down .shopContent div.last{	
	position: relative;
	bottom: 0;
	padding:0
}
#buy-box-after ._down .shopContent .shopbox div.continue a{ 
	color: #000;
	font-size: 14px;
}
#buy-box-after ._down .shopContent .shopbox div.settle>span{
	font-size: 14px;
	margin-right:50px ;
	color:#666
} 
#buy-box-after ._down .shopContent .shopbox div.settle>span.totalPrice{
	font-size: 26px;
	font-style: normal;
	color:#f00
}
#buy-box-after ._down .shopContent .shopbox div.settle .pay{
	border:0;
	background: #ccc;
	width:230px;
	height: 50px;
	color: #fff;
	font-size: 16px;
}
