#center .loginBox .pic_YZ,.tel_YZ{
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}
#center .loginBox  span.pic{
	position: absolute;
	right: 1px;
    top: 1px;
    width: 85px;
    height: 38px;
    background: #f0f0f0;
    border-left: 1px solid #cdd1d4;
    text-align: center;
    line-height: 38px;
    color: red;
    cursor: pointer;
    font-size: 12px;
    z-index: 0;
}
#center .loginBox  span.pic button.ma{
	width: 85px;
    height: 37px;
    border: none;
    background-color: #f0f0f0;
    border:0;
}

  
#center .loginBox  div.protocalBox{
	font-size: 14px;
    height: 20px;
    cursor: pointer;
    margin: 4px 0px 10px;
}
#center .loginBox  input.protocal{
	margin-top: 4px;
    vertical-align: top;
	width: 15px; 
	height: 15px;
}
#center .loginBox  div.protocalBox span{
	font-size: 14px;
    height: 20px;
    cursor: pointer;
}
#center .loginBox .reg_way{ height: 40px; line-height: 40px;}
#center .loginBox .reg_way a:nth-child(1){
	font-size: 14px;
	color: #333;
}
#center .loginBox .reg_way a:nth-child(2){
	font-size: 14px;
	color: #f00;
}
.after{display: none;}
.after .repeatBtn{
	width: 100%;
    height: 40px;
    background: red;
    color: #fff;
    border: 0;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
